{% extends 'home/base.html' %}
{% block about_us %}

<div style="height: 150px;"></div>

<style>
	.home-gallery-image {
		height: 400px; width: 400px;
		border: 1px solid #ddd;
		border-radius: 20px;
		/* object-fit: cover; */
		transition: all 0.3s;
	}
	.home-gallery-image:hover {
		-webkit-box-shadow: 3px 10px 24px -8px rgba(0,0,0,0.75);
		-moz-box-shadow: 3px 10px 24px -8px rgba(0,0,0,0.75);
		box-shadow: 3px 10px 24px -8px rgba(0,0,0,0.75)
	}
</style>

<div class="container-fluid">
	<div class="row">
		{% if image %}
		{% for images in image %}
		<figure class="col-md-4">
		<a href="{{images.image.url}}" data-size="1600x1067">
				<img alt="picture" src="{{images.image.url}}" class="img-fluid home-gallery-image">
		</a>
		</figure>
		{% endfor %}
		{% endif %}

		</div>
</div>

{%endblock%}

