{% extends 'dashboard/base.html' %}

{% block title %}

Post delete/update
    
{% endblock title %}

{% block 'main_body' %}

<main class="app-content">
        {% if post_item %}
                        
        {% for blog in post_item %}
        <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                        
                         <h5 class="card-title">{{blog.name}}</h5>
            
                    <p class="card-text">{{blog.description}}</p>

                  </div>
                  {% if not blog.managed %}
                  <a href="{% url 'postmanaged' blog.id %}" type="button" class="btn btn-primary">Managed</a>
                  {% endif %}

                </div>
              </div>
              {% endfor %}
                    {% endif %}
                      <h1>Maruf</h1>
                      {% if comments %}
                      {% for comment in comments %}
                      <p class="card-text">{{ comment.text }}</p>
                      <a href="{% url 'delete_individual_comment' comment.id %}" class="btn btn-info" role="button">Delete</a>
                      <p class="card-text">{{ comment.created }}</p>
                      {% endfor %}
                      {% endif %}
                        
                        
                      
                    
                      
</main>

{% endblock %}