{% extends 'dashboard/base.html' %}
{% block 'main_body' %}
<main class="app-content">
              <table class="table table-striped table-dark">
             <tbody>
              {% for user in filter.qs %}
                <!-- <li <a href=" {% url 'signle_user' user.id %} "> >{{ user.username }}</li> -->
                  <tr>
                  
                  <td><a href=" {% url 'signle_user' user.id %} ">{{forloop.counter}}. {{ user.username }}</a></td>
                  </tr>
              {% endfor %}
            </tbody>
        </table>
    </main>
    {% endblock %}