{% load staticfiles %}
<!DOCTYPE html>



<head>
    <meta charset="UTF-8">
    <meta name="description" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PNTFD95ESB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PNTFD95ESB');
</script>
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
{% block blog_css %}
    
{% endblock %}
    <!-- Title  -->

    <title>{% block title %}
        {% endblock %}</title>



    <!-- Favicon  -->
    <link rel="icon" href="{% static  'front/img/core-img/favicon.ico' %}">

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'front/style.css' %}">
  

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="medilife-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Top Header Area -->
        <!-- <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="h-100 d-md-flex justify-content-between align-items-center">
                            <p>Welcome to <span>Medifile</span> template</p>
                            <p>Opening Hours : Monday to Saturday - 8am to 10pm Contact : <span>+12-823-611-8721</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- Main Header Area -->
        <div class="main-header-area" style="height: 80px;" id="stickyHeader">
            <div class="h-100 px-5">
                <div class="row h-100 align-items-center">
                    <div class="col-12 h-100">
                        <div class="main-menu h-100">
                            <nav class="navbar h-100 navbar-expand-lg">
                                <!-- Logo Area  -->
                                <a class="navbar-brand" href="{% url 'index' %}"><img
                                        src="{% static  'front/img/bg-img/logoxx.png' %}" alt="Logo"></a>

                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false"
                                    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                                <!--Menu area-->
                                {% include 'home/partials/menu_area.html' %}

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Hero Area Start ***** -->
 
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            {% block home_slide_show %}
            {% endblock %}
        </div>
    </section>
    
    
        
    
        
    <!-- ***** Hero Area End ***** -->

    <!-- ***** Blood blog form ***** -->
    {% block  blood_blog_form %}
   
    {% endblock %}

    <!-- ***** Blood blog form End ***** -->

    <!-- ***** About Us Area Start ***** -->


    <!-- ***** Features Area Start ***** -->

{% block feature_area %}

{% endblock feature_area %}
    
    <!-- ***** Features Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    
    {% block blog_view %}
        
    {% endblock blog_view %}
 
    <!-- ***** Blog Area End ***** -->

        <!-- ***** Gallery Area Start ***** -->
        {% block slideshow %}
    
        {% endblock slideshow %}
        
        <!-- ***** Gallery Area End ***** -->

    {% block about_us %}   
    <section class="medica-about-us-area section-padding-100-20">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="medica-about-content">
                        <h2>We always put our pacients first</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet,
                            consectetuer adipiscing eli.</p>
                        <!-- <a href="#" class="btn medilife-btn mt-50">View the services <span>+</span></a> -->
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-service-area d-flex">
                                <div class="service-icon">
                                    <i class="icon-doctor"></i>
                                </div>
                                <div class="service-content">
                                    <h5>The Best Doctors</h5>
                                    <p>Lorem ipsum dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh
                                        euismod tincidunt ut.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-service-area d-flex">
                                <div class="service-icon">
                                    <i class="icon-blood-donation-1"></i>
                                </div>
                                <div class="service-content">
                                    <h5>Baby Nursery</h5>
                                    <p>Dolor sit amet, consecte tuer elit, sed diam nonummy nibh euismod tincidunt ut
                                        ldolore magna.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-service-area d-flex">
                                <div class="service-icon">
                                    <i class="icon-flask-2"></i>
                                </div>
                                <div class="service-content">
                                    <h5>Laboratory</h5>
                                    <p>Lorem ipsum dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh
                                        euismod tincidunt ut.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-service-area d-flex">
                                <div class="service-icon">
                                    <i class="icon-emergency-call-1"></i>
                                </div>
                                <div class="service-content">
                                    <h5>Emergency Room</h5>
                                    <p>Dolor sit amet, consecte tuer elit, sed diam nonummy nibh euismod tincidunt ut
                                        ldolore magna.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    <!-- ***** About Us Area End ***** -->

    <!-- ***** Cool Facts Area Start ***** -->
    
    {% block cool_area %}

    {% endblock %}
    <!-- ***** Cool Facts Area End ***** -->


    <!-- ***** Footer Area Start ***** -->

    {% include 'home/footer/footer.html' %}
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{% static 'front/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'front/js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'front/js/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'front/js/active.js' %}"></script>

</body>

</html>