{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Add New Blood Bank {% endblock %}

{% block blood_blog_form %}
<div style="height: 150px;"> a</div>
<div class="container-fluid">
    <div class="col-sm-2 xol-lg-2">

    </div>
    <div class="col-lg-10 col-sm-10">
        <div class="card col-lg-10 col-sm-10 pl-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ user.user_name }}Add new
                    blood
                    bank</h5>
                {% if error_message %}
                <p class="card-text">{{ error_message }}</p>
                {% endif %}
                <p class="card-text">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success">
                            Create
                        </button>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}