<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    {% load staticfiles %}
    <!-- <link rel="shortcut icon" type="image/png" href="{% static '/music/images/favicon.ico' %}"/>       -->
    <title>musical.ly</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<!-- Circle-player-JS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/not.the.skin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/circle.player.css' %}">
	<!-- Circle-player-JS  ends-->

<link
	href="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/skin/blue.monday/css/jplayer.blue.monday.min.css"
	rel="stylesheet" type="text/css" />
<link
	rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous"
/>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-transparent">
	<a class="navbar-brand" href="#">Music</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#"
					>Home <span class="sr-only">(current)</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">logged in as: {{ user.username }} </a>
			</li>
			<li class="nav-item dropdown">
				<a
					class="nav-link dropdown-toggle"
					href="#"
					id="navbarDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					Dropdown
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
					>disabled</a
				>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input
				class="form-control mr-sm-2"
				type="search"
				placeholder="Search"
				aria-label="Search"
			/>
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit"
				>Search</button
			>
		</form>
	</div>
</nav>


<div class="container-fluid">
    <div class="row p-3">
            {% block body %}
            {% endblock %}
  	</div>
</div>

</div>

    
	<!-- Optional JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.js"> </script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/add-on/jplayer.playlist.min.js"></script>
<script type="text/javascript" src="{% static 'js/jplay.js' %}"></script>
<!-- Circle player -->
<script type="text/javascript" src="{% static 'js/jcircleplay.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.transform2d.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.grab.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mod.csstransforms.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/circle.player.js' %}"></script>
<!-- Circle player ends -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>