{% extends 'dashboard/base.html' %}
{% block 'main_body' %}
<main class="app-content">
<!-- <ul class="list-group">
    <li class="list-group-item">All users </li>
  
    <li class="list-group-item list-group-item-primary">{{user.username}}</li>
 
  </ul> -->
  <table class="table table-striped table-dark">
    <!-- {% if member %} -->
      <tr>

        <td scope="col-6">Name : {{ member.name }} </td>
    </tr>
    <tr>

        <td scope="col">Name : {{ member.designation }} </td>
        <td><a href="{% url 'editcommittee' member.id %}" type="button" class="btn btn-danger">Edit</a></td>
    </tr>
   
    <!-- {% endif %} -->

  </table>
</main>
  {% endblock %}