{% extends 'dashboard/base.html' %}

{% block 'main_body' %}



<main class="app-content">
    
        
        {% if photo_list %}

        <div class="container-fluid">
            <div class="row d-flex">
                    {% for photo in photo_list %}
        
           
           
                    <div class="w-25 p-3">
              
              
                       <img src=" {{ photo.image.url }} " class="img-thumbnail" alt="">
                       
                           <form method ="POST" action="{% url  'delete' photo.id %}">
                               {% csrf_token %}
                           <button type="submit" class=" btn btn-danger btn-sm " >Delete</button>
                           
                           </form>
                       
                   </div>
                   {% endfor %}
            </div>
        </div>
            
            {% endif %} 

</main>

{% endblock %}