{% extends 'home/base.html' %}
{% load staticfiles %}
<!-- Single Hero Slide -->
{% block home_slide_show %}
<div class="single-hero-slide bg-img bg-overlay-white"
style="background-image: url({% static 'front/img/bg-img/hero1.jpg' %});">
<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="hero-slides-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">Medical Services that <br>You can Trust
                    100%</h2>
                <h6 data-animation="fadeInUp" data-delay="400ms">Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit sed diam nonummy nibh euismod.</h6>
                <a href="#" class="btn medilife-btn mt-50" data-animation="fadeInUp"
                    data-delay="700ms">Discover Medifile <span>+</span></a>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Single Hero Slide -->
<div class="single-hero-slide bg-img bg-overlay-white"
style="background-image: url(img/bg-img/breadcumb3.jpg);">
<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="hero-slides-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">Medical Services that <br>You can Trust
                    100%</h2>
                <h6 data-animation="fadeInUp" data-delay="400ms">Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit sed diam nonummy nibh euismod.</h6>
                <a href="#" class="btn medilife-btn mt-50" data-animation="fadeInUp"
                    data-delay="700ms">Discover Medifile <span>+</span></a>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Single Hero Slide -->
<div class="single-hero-slide bg-img bg-overlay-white"
style="background-image: url(img/bg-img/breadcumb1.jpg);">
<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="hero-slides-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">Medical Services that <br>You can Trust
                    100%</h2>
                <h6 data-animation="fadeInUp" data-delay="400ms">Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit sed diam nonummy nibh euismod.</h6>
                <a href="#" class="btn medilife-btn mt-50" data-animation="fadeInUp"
                    data-delay="700ms">Discover Medifile <span>+</span></a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}