{% extends 'home/base.html' %}
{% load static %}
{% block blog_css %}
<link rel="stylesheet" href="{% static 'front/css/blog.css' %}">
{% endblock %}
{% block about_us %}
{% endblock %}


{% block blog_view %}

  <div style="height: 150px;" ></div>
  <h2 class="text-center display-4 mb-4">Blood Blog For Everyone</h2> 

  <div class="d-flex justify-content-center mb-3">
      <a class="btn btn-success" style="color: white;" href="{% url 'managedpost' %}"><h3>Managed Posts</h3></a> 
  </div>

  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-md-9">
        {% if blog %}
        {% for item in blog %}
        <div class="list-group-item list-group-item-secondary mb-3" style="color: white; background-color: #020F20; border-radius: 10px;">
          <h3 style="color: white; border-bottom: 1px solid white; display: inline-block;" class="px-3 py-2">{{ item.blood_group }} needed</h3>
          <p class="lead" style="color: white;">
            {{item.name}} need {{item.quantity}} beg {{item.blood_group}} before {{ item.time}}, {{item.date}}
          </p>
          {% if item.description %}
          <blockquote class="blockquote">
            <u  style="color: white;">Purpose:</u>
            <p class="mb-0"  style="color: white;">
                {{item.description}}
            </p>
          </blockquote>
          {%endif%}

          {% if comments %}
          <!-- <u  style="color: white;">Comments</u> -->
          
          {% for comment in comments %}
            
          {% if comment.blog.id == item.id %}

            <div class="comment p-2">
              <img src= "{{comment.user.image.url}}" class="mr-3" style="height: 50px; width: 50px; border-radius: 50%; display: inline; float: left;">
            
            
            <blockquote class="blockquote" style="display: inline;">
              <cite title="Source Title" style="color: #a1a1a1;">{{comment.user.username}}</cite>
              <p class="mb-0"  style="color: white;"><span style="color: d9d9d9;">-- </span>{{comment.text}}</p>
            </blockquote>
          </div>
            
            {% endif %}
          {% endfor %}
          {% endif %}
          
          {% if request.user.is_authenticated %}
          <form method="POST" action="/blood/blog/comment/{{item.id}}/">
              {% csrf_token %}
              {{form.text}}
              <button type="submit" class="btn btn-sm btn-primary">Comment</button>
          </form>
          {% endif %}

        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}


<div class="pagination">
  {% if contacts.has_previous %}
  <a class="pagination-action" href="?page=1">
    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
  </a>
  <a class="pagination-action" href="?page={{ contacts.previous_page_number }}">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
  </a>
  {% endif %}
  {% for num in contacts.paginator.page_range %}

  {% if contacts.number == num %}
  <span>{{ num }}</span>
  {% elif num > contacts.number|add:'-3' and num < contacts.number|add:'3' %}
  <a href="?page={{ num }}">{{ num }}</a>
  {% endif %}

  {% endfor %}
  {% if contacts.has_next %}

  <a href="?page=1">first</a>
  <a href="?page={{ contacts.next_page_number }}">Previous</a>
  <a href="?page={{ contacts.paginator.num_pages }}">Last</a>
  {% endif %}
</div>
