{% extends 'home/base.html' %}
{% load static %}

{% block blog_css %}
<link rel="stylesheet" href="{% static 'front/css/timeline.css' %}">
{% endblock %}

{% block title %}
Home Page
{% endblock %}
    
{% block slideshow %}

<div class="medilife-gallery-area owl-carousel">
    <!-- Single Gallery Item -->
    {% if image_list %}
    {% for obj in image_list %}
    <div class="single-gallery-item px-3 pb-4">
       
       
        <img src="{{ obj.image.url }}" alt=""  style="-webkit-box-shadow: 3px 10px 24px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 10px 24px -8px rgba(0,0,0,0.75);
        box-shadow: 3px 10px 24px -8px rgba(0,0,0,0.75);">
        <div class="view-more-btn">
            <a href="{{ obj.image.url }}" class="btn gallery-img">See More +</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock slideshow %}

{% block cool_area %}
<section class="medilife-cool-facts-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Single Cool Fact-->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact-area text-center mb-100">
                    <i class="icon-blood-transfusion-2"></i>
                    <h2><span class="counter">5632</span></h2>
                    <h6>Blood donations</h6>
                    <p>Dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                </div>
            </div>
            <!-- Single Cool Fact-->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact-area text-center mb-100">
                    <i class="icon-atoms"></i>
                    <h2><span class="counter">23</span>k</h2>
                    <h6>Pacients</h6>
                    <p>Dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                </div>
            </div>
            <!-- Single Cool Fact-->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact-area text-center mb-100">
                    <i class="icon-microscope"></i>
                    <h2><span class="counter">25</span></h2>
                    <h6>Specialities</h6>
                    <p>Dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                </div>
            </div>
            <!-- Single Cool Fact-->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact-area text-center mb-100">
                    <i class="icon-doctor-1"></i>
                    <h2><span class="counter">723</span></h2>
                    <h6>Doctors</h6>
                    <p>Dolor sit amet, consecte tuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block blood_blog_form %}
<div class="medilife-book-an-appoinment-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="appointment-form-content">
                        <div class="row no-gutters align-items-center">
                            <div class="col-12 col-lg-9 mx-auto" id="blood-post-form">
                                <h4 class="text-center text-white pt-4 pb-4 px-3" style="font-size: 2rem; border-bottom: 1px solid blanchedalmond;">জরুরী রক্তের প্রয়োজনে এখানে পোস্ট করুন। </h4>
                                <div class="medilife-appointment-form">

                                    <form method="post" class="text-light" >
                                        {% csrf_token %}
                                        <div class="row align-items-end">
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    {{form.blood_group.label}}
                                                    {{form.blood_group}}
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    {{form.quantity.label }}
                                                    {{form.quantity }}
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div>
                                                    {{form.location.label}}
                                                    {{form.location}}
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-5">
                                                <div class="form-group">
                                                    {{form.date.label}}
                                                    {{form.date}}
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-5">
                                                <div class="form-group">
                                                    {{form.time.label}}
                                                    {{form.time}}
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    {{form.phone.label}}
                                                    {{form.phone}}
                                                </div>

                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    {{form.name.label}}
                                                    {{form.name}}
                                                </div>

                                            </div>

                                            <div class="col-12 col-md-12">
                                                <div class="form-group mb-0">
                                                    <div class="form-group">
                                                        {{form.description.label}}
                                                        {{form.description}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-5 mb-0">
                                                <div class="form-group mb-0">
                                                    <button type="submit" class="btn medilife-btn">Make a Post</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock blood_blog_form %}

{% block home_slide_show %}
<div class="single-hero-slide bg-img bg-overlay-white"
style="background-image: url({% static 'front/img/bg-img/home1.jpg' %});">
<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="hero-slides-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">Medical Services that <br>You can Trust
                    100%</h2>
                <h6 data-animation="fadeInUp" data-delay="400ms">Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit sed diam nonummy nibh euismod.</h6>
                <!-- <a href="#" class="btn medilife-btn mt-50" data-animation="fadeInUp"
                    data-delay="700ms">Discover Medifile <span>+</span></a> -->
            </div>
        </div>
    </div>
</div>
</div>
<!-- Single Hero Slide -->
<div class="single-hero-slide bg-img bg-overlay-white"
style="background-image: url({% static 'front/img/bg-img/home2.jpg' %});">
<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="hero-slides-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">Medical Services that <br>You can Trust
                    100%</h2>
                <h6 data-animation="fadeInUp" data-delay="400ms">Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit sed diam nonummy nibh euismod.</h6>
                <!-- <a href="#" class="btn medilife-btn mt-50" data-animation="fadeInUp"
                    data-delay="700ms">Discover Medifile <span>+</span></a> -->
            </div>
        </div>
    </div>
</div>
</div>
<!-- Single Hero Slide -->
<div class="single-hero-slide bg-img bg-overlay-white"
style="background-image: url({% static 'front/img/bg-img/home3.jpg' %});">
<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="hero-slides-content">
                <h2 data-animation="fadeInUp" data-delay="100ms">Medical Services that <br>You can Trust
                    100%</h2>
                <h6 data-animation="fadeInUp" data-delay="400ms">Lorem ipsum dolor sit amet,
                    consectetuer adipiscing elit sed diam nonummy nibh euismod.</h6>
                <!-- <a href="#" class="btn medilife-btn mt-50" data-animation="fadeInUp"
                    data-delay="700ms">Discover Medifile <span>+</span></a> -->
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block blog_view %}

            {% if blogs %}
           
           
     <!-- Single Blog Area -->
            <h1 class="text-center mt-3 mb-3" >Recent Blood Requests</h1>
            <section id="timeline">
                    {% for blog in blogs %}
                    <article>
                      <div class="inner">
                        <span class="date">
                          <span class="day">{{blog.created.day}}<sup>th</sup></span>
                          <span class="month">{{blog.created|date:"M"}}</span>
                          <span class="year">{{blog.created.time}}</span>
                        </span>
                        <h2>{{blog.blood_group}} Blood Needed </h2>
                        <p>Location : {{blog.location}}</p>
                        <p>Quantity : {{blog.quantity}} </p>
                        <p>Message: {{blog.description}}.</p>
                      </div>
                    </article>
                    {% endfor %}
                  </section>
             
                     
            
            {% endif %}
            
{% endblock blog_view %}
