<div class="collapse navbar-collapse" id="medilifeMenu">
  <!-- Menu Area -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'index' %}"
        >Home <span class="sr-only">(current)</span></a
      >
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >Pages</a
      >
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="index.html">Home</a>
        <a class="dropdown-item" href="about-us.html">About Us</a>
        <a class="dropdown-item" href="services.html">Services</a>
        <a class="dropdown-item" href="blog.html">News</a>
        <a class="dropdown-item" href="single-blog.html">News Details</a>
        <a class="dropdown-item" href="contact.html">Contact</a>
        <a class="dropdown-item" href="elements.html">Elements</a>
        <a class="dropdown-item" href="index-icons.html">All Icons</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="about-us.html">AboutUs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="services.html">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'blood_blog' %}">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html">Contact</a>
    </li>

    <!-- </ul> -->
    <!-- Appointment Button -->
    <li class="nav-item">
      <a href="{% url 'blood_banks' %}" class="btn medilife-appoint-btn ml-30"
        >For <span>Blood Bank</span> Click here</a
      >
    </li>
    <!-- <ul class="navbar-nav ml-auto"> -->
    <li class="nav-item">
      {% if user.is_authenticated %}
      <a class="nav-link" href="{%  url 'profile' %}">{{ user.username }}</a>

      <!-- <a class="nav-link" href="{% url 'login' %}">login</a> -->
      <!-- <a href="javascript:{document.getElementById('logout').submit()}"
            class="nav-link"> 
            <i class=" fas fa-sign-out-alt"></i>logout
            </a> -->
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">logout</a>
      <form action="{% url 'logout' %}" method="POST" id="logout">
        {% csrf_token %}
      </form>
    </li>

    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">login</a>
    </li>
    {% endif %}
  </ul>
</div>
