{% extends 'home/base.html' %}
{% load staticfiles %}
{% block about_us %}


{% endblock %}
{% block blog_view %}

  <div style="height: 150px;" ></div>







  <div class="container pb-5">

    <div class="row">

    <div class="col-md-4 mb-5" style=" border-radius: 20px; background-color:#020F20; color: white;">
      <div class="display-profile" style="margin-left: 20px;">
        <img src="{{ user.image.url }}" class="card-img-top mx-auto mt-4" alt="Maruf" style="border-radius: 50%; height: 300px; width: 300px; object-fit: cover;">
      </div>
      <h1 class="mt-3" style="text-align: center; color: white;">{{user.username}}</h1>
      <p style="text-align: center; color: white;"> Group: {{ user.blood_group}}<br/></p>
      <p style="text-align: center; color: white;">Address : {{user.address}}<br/></p>
      <p style="text-align: center; color: white;">Phone : {{user.phone}}<br/></p>
      <p style="text-align: center; color: white;">Email : {{user.email}}<br/></p>
      <p style="text-align: center; color: white;">Last Donation : {{user.last_date_of_donation}}<br/></p>
      
      <p style="text-align: center; color: white;">My Total Donation :{{user.donate}} <br/></p>
      <a href="{% url 'profile_update' %}" class="btn btn-primary">Edit Profile</a>

    </div>
    


    <div class="col-md-6 ml-md-5" style=" border-radius: 20px; background-color:#020F20; color: white;">
      <h1 class="p-3 text-center" style="color: white;">Posts</h1>
        {% if posts %}
      
      {% for post in posts %}

      <div>
        <p style="color: white;">
            {{post.description}}
        </p>
 

        <hr style="background-color: ivory;">
      </div>

      
      
      
      {% endfor %}
      {% endif %}
    </div>
  </div>

    <!-- <div class="row justify-content-md-center mb-4 pb-4">
   <div class="card " style="width: 18rem;">
   
    <img src="{{user.image.url}}" class="card-img-top" alt="...">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Name : {{user.username}}</li>
      <li class="list-group-item">Blood Group: {{ user.blood_group}}</li>
      <li class="list-group-item">Address : {{user.address}}</li>
      <li class="list-group-item">Phone : {{user.phone}}</li>
      <li class="list-group-item">Email : {{user.email}}</li>
      <li class="list-group-item">Last Donation : {{user.last_date_of_donation}}</li>
      
      <li class="list-group-item">My Total Donation :{{user.donate}} </li>
      
      {% if posts %}
      
      <li class="list-group-item">My Total Post :{{post_number}} </li>
      
      {% for post in posts %}
      
      <li class="list-group-item">My post :{{post.description}} </li>
      {% endfor %}
      {% endif %}
    </ul>
    <a href="{% url 'profile_update' %}" class="btn btn-primary" type="button">Edit</a>
  </div>
  </div> -->
</div>

{% endblock %}

