{% extends 'home/base.html' %}
{% load staticfiles %}
{% block about_us %}


{% endblock %}
{% block blog_view %}

  <div style="height: 250px;" ></div>
  <div class="container " >
    <div class="row align-items-end" >
     <div class="card col-md-8" style="background-color: cyan;">
        <form method="POST" class="list-group-item" enctype="multipart/form-data">
          {%csrf_token%}
          {{form}}
          <button type="submit" class="btn btn-success">Update</button>
        </form>
      </div>
  </div>
  </div>
  
{% endblock %}







