{% extends 'home/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block title %} Add New Blood {% endblock %}

{% block blood_blog_form %}
<div style="height: 150px;"> .</div>
<div class="col-sm-2 xol-lg-2">

</div>
<div class="col-lg-10 col-sm-10">
    <div class="card col-lg-10 col-sm-10 pl-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Add new Blood</h5>
            {% if error_message %}
            <p class="card-text">{{ error_message }}</p>
            {% endif %}
            <p class="card-text">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-success"> Create
                    </button>
                </form>
            </p>
        </div>
    </div>
</div>
{% endblock %}